# Logs
aero-metrics/logs/
*.log

# Data
data/raw/aqi_data.csv
data/raw/weather_data.csv

data/processed/engineered_features.csv
data/processed/X_train.csv
data/processed/test.ipynb

data/interim/merged_data.csv

# Python
__pycache__/
*.py[cod]
.venv/
.env

cv_results.csv
feature_importance.png

#pkl-files

models/predictor/
models/forecaster/


frontend/