# Logs
aero-metrics/logs/
*.log

# Data
data/raw/aqi_data.csv
data/raw/weather_data.csv

data/processed/engineered_features.csv
data/processed/X_train.csv
data/processed/test.ipynb

data/interim/merged_data.csv

# Python
__pycache__/
*.py[cod]
.venv/
.env

cv_results.csv
feature_importance.png

#pkl-files

src/model_building/predictor/pm25_model/pm25_predictor.pkl
src/model_building/predictor/pm25_model/pm25_explainer.pkl
src/model_building/predictor/pm25_model/pm25_global_shap.pkl


src/model_building/predictor/pm10_model/pm10_predictor.pkl
src/model_building/predictor/pm10_model/pm10_explainer.pkl
src/model_building/predictor/pm10_model/pm10_global_shap.pkl


src/model_building/forecaster/pm25_model/t_model/pm25_forecaster_t.pkl
src/model_building/forecaster/pm25_model/t_model/pm25_explainer.pkl
src/model_building/forecaster/pm25_model/t_model/pm25_global_shap.pkl

src/model_building/forecaster/pm25_model/t12_model/pm25_forecaster_t12.pkl
src/model_building/forecaster/pm25_model/t12_model/pm25_explainer.pkl
src/model_building/forecaster/pm25_model/t12_model/pm25_global_shap.pkl

src/model_building/forecaster/pm25_model/t24_model/pm25_forecaster_t24.pkl
src/model_building/forecaster/pm25_model/t24_model/pm25_explainer.pkl
src/model_building/forecaster/pm25_model/t24_model/pm25_global_shap.pkl

src/model_building/forecaster/pm25_model/t48_model/pm25_forecaster_t48.pkl
src/model_building/forecaster/pm25_model/t48_model/pm25_explainer.pkl
src/model_building/forecaster/pm25_model/t48_model/pm25_global_shap.pkl

src/model_building/forecaster/pm10_model/t_model/pm10_forecaster_t.pkl
src/model_building/forecaster/pm10_model/t_model/pm10_explainer.pkl
src/model_building/forecaster/pm10_model/t_model/pm10_global_shap.pkl

src/model_building/forecaster/pm10_model/t12_model/pm10_forecaster_t12.pkl
src/model_building/forecaster/pm10_model/t12_model/pm10_explainer.pkl
src/model_building/forecaster/pm10_model/t12_model/pm10_global_shap.pkl

src/model_building/forecaster/pm10_model/t24_model/pm10_forecaster_t24.pkl
src/model_building/forecaster/pm10_model/t24_model/pm10_explainer.pkl
src/model_building/forecaster/pm10_model/t24_model/pm10_global_shap.pkl

src/model_building/forecaster/pm10_model/t48_model/pm10_forecaster_t48.pkl
src/model_building/forecaster/pm10_model/t48_model/pm10_explainer.pkl
src/model_building/forecaster/pm10_model/t48_model/pm10_global_shap.pkl


frontend/